*{
    margin: 0;
    padding: 0;
}
body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: black;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.h2 {
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    color: white;
}
.font_style{
    font-style: italic;
    font-weight: bold;
    font-family: "Playwrite CU", cursive;
}
.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-part ul {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 35px;
}
.logo-part h2 {
    font-family: Inter;
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    line-height: 43.2px;
    text-align: left;
    color: rgba(230, 83, 60, 1);

}
.menu-part ul {
    list-style: none;
}
.menu-part ul li {
    display: inline-block;
}
.menu-part ul li a {
    text-decoration: none;
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    display: inline-block;
}
.menu-part ul li:first-child {
    background-color: #E6533C;
    border-radius: 50px;
}
.hero-banner {
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.hero-contant-part h2 {
    font-size: 78px;
    line-height: 100px;
}
.hero-contant-part p {
    font-size: 16px;
    margin: 30px 0;
}
.hero-contant-part {
    color: white;
    width: 50%;
}
.hero-section {
    padding: 35px 0;
    background: rgb(2,2,2);
    background: linear-gradient(0deg, rgba(2,2,2,1) 0%, rgba(35,35,35,1) 100%);
}
.hero_button {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.btn {
    display: inline-block;
    background-color: #E6533C;
    border-radius: 25px;
    padding: 15px 30px;
    border: 1px solid #E6533C;
    text-decoration: none;
    color: white;
}
.hero_second_btn{
    background-color: transparent;
    border: 1px solid #ffffff;
}
.hero-img-part {
    text-align: center;
    width: 50%;
}
.timer_section {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 1);
    padding: 50px 0;
}
.timer_items_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    margin: 30px 0;
}
.timer_items h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
}
.timer_section p{
    margin: auto;
}
.timer_items img{
    border-radius: 50%;
}
.timer_title {
    width: 60%;
    margin: auto;
}
.run-inner {
    display: grid;
    color: white;
    background: #222222;
    padding: 50px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-radius: 15px;
}
.run-img-part img{
    width: 365px;
    height: 312px;
    border-radius: 30px;
    object-fit: cover;
}
.run-img-part {
    text-align: right;
}
 p {
    color: rgba(255, 255, 255, 0.5);
    margin: 20px 0;
    font-size: 14px;
    width: 80%;
    line-height: 25px;
}
.run-text .btn {
    padding: 10px 20px;
    display: inline-block;
    width: 150px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
}
.exercises-gallary {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}
.exercises_item p {
    position: relative;
    top: -32%;
}
.exercises_img img {
    object-fit: cover;
    height: 250px;
    width: 100%;
    position: relative;
}
.exercises_img img::before {
    content: '';
    width: 100%;
    height: 100%;
    background: red;
    position: absolute;
}
.bottom-gallary{
    display: grid;
    grid-template-columns: 36% 28% 36%;
}
.exercises_item {
    height: 250px;
}
.exercises_item p{
    color: white;
}
.ex_bg_one{
    background-color: rgba(6, 255, 210, 0.5); 
}
.ex_bg_one p{
    color: black;
}
.ex_bg_two{
    background-color: rgba(255, 0, 0, 0.3)
}
.ex_bg_two p {
    position: relative;
    bottom: 170px;
    left: 10px;
}
.ex_bg_four p {
    position: relative;
    bottom: 170px;
    left: 250px;
}
.ex_bg_three{
    background-color: rgba(0, 0, 0, 0.5);
}
.ex_bg_four{
    background-color: rgba(0, 0, 0, 0.5);
}
.ex_bg_five{
    background-color: rgba(66, 255, 0, 0.3);
}
.ex_bg_six{
    background-color: rgba(0, 71, 255, 0.3);
}
.exercises-peragraph{
    width: 50%;
}
.exercises_img{
    height: 250px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.hero-header-text {
    position: absolute;
    left: 29px;
    z-index: 9999;
    color: white;
    bottom: 10px;
    width: 200px;
}
.exercises_img img {
   object-fit: cover;
   opacity: 0.4;
}
.team-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    background: #222222;
    padding: 20px;
    border-radius: 15px;
}
.team_item img {
    border-radius: 20px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.team_item {
    position: relative;
}
.team-title p {
    margin: 0px auto 20px auto;
}
.trainer-name {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: white;
    text-align: left;
}
.trainer-name p{
    margin: 0;
}
.team-section{
    padding: 40px 0;
    text-align: center;

}
.inner-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-grid ul{
 line-height: 30px;
}
.footer-grid ul li {
    list-style: none;
    color: white;
}
.footer-grid .h2 {
    font-size: 70px;
    color: rgba(230, 83, 60, 1);
}
.footer-grid h3{
    color: rgba(255, 255, 255, 1);
}
.footer-grid ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}
.footer-grid h3 {
    color: white;
    font-size: 30px;
    line-height: 50px;
}
.bottom-footer-column {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
}
section {
    padding: 40px 0;
}
.img_div {
    position: relative;
}
.tutorial {
    position: absolute;
    left: -15px;
    bottom: 3%;
    background: rgba(48, 48, 48, 0.54);
    padding: 30px;
    border-radius: 10px;
    width: 206px;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}
.tutorial_bg {
    width: 40px;
    height: 40px;
    background: rgba(230, 83, 60, 1);
    border-radius: 50%;
}
.tutorial_text h3{
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    color: rgba(250, 250, 249, 1);
}
.tutorial_text p {
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: left;
    margin: 0;
    font-size: 16px;
}
.workout {
    position: absolute;
    top: 20%;
    right: 4%;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 30px;
    border-radius: 10px;
    width: 170px;
}
.workout h3 {
    font-size: 40px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
}
.workout p {
    margin: 0;
    text-align: left;
}
.mobile-menu{
    display: none;
}
@media screen and (max-width: 768px){
    .menu-part ul{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .container {
        max-width: 1200px;
        margin: 0 30px;
    }
    .hero-banner {
        display: block;
        margin-top: 40px;
    }
    .hero-contant-part {
        width: 100%; 
    }
    .hero-contant-part h2 {
        font-size: 44px;
        line-height: 60px;
    }
    .hero-contant-part p {
        font-size: 14px;
    }
    .btn {
        padding: 10px 20px;
        font-size: 12px;
    }
    .hero-img-part {
        width: 100%;
    }
    .workout {
        right: 4%;
        padding:15px;
        width: 135px;
    }
    .workout p {
        font-size: 11px;
    }
    .workout h3 {
        font-size: 25px;
        line-height: 30px;
    }
    .tutorial {
        padding: 15px;
        width: 190px;
    }
    .tutorial_text p {
        letter-spacing: 0;
        font-size: 14px;
    }
    .timer_title .h2 {
        font-size: 22px;
        font-weight: 900;
        line-height: 30px;
        color: white;
    }
    .timer_title {
        width: 100%;
        margin: auto;
    }
    .timer_items_section {
        display: block;
        margin: 0;
    }
    .timer_items {
        margin: 25px;
    }
    .run-inner {
        display: block;
        padding: 40px;
    }
    .run-text .h2 {
        font-size: 38px;
        line-height: 50px;
    }
    .run-text p {
        font-size: 14px;
        width: 90%;
    }
    .run-text .btn {
        margin-bottom: 30px;
    }
    .run-img-part img {
        height: 200px;
    }
    .h2{
        font-size: 40px;
        line-height: 50px;
    }
    .exercises-peragraph {
        width: 90%;
    }
    .team-items {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }
    .inner-footer {
        display: block;
    }
    .ex_bg_four p {
         left: 0px;
    }
    .team_item img {
        height: auto;
    }
}


























.hero_img {
    margin-bottom: -40px;
}